@model MVCRecap.Models.TicketModel

@{
    ViewData["Title"] = "Book";
    <link rel="stylesheet" href="~/css/TrexStyle.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
}
<!DOCTYPE html>
<html>
<body class="bluesky">
    <h1>Create</h1>

    <h4>TicketModel</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" method="post">
                <div class="form-group">
                    <label asp-for="ClientName" class="control-label" style="font-weight:bold">Client Name</label>
                    <input asp-for="ClientName" class="form-control" />
                    <span asp-validation-for="ClientName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Airline" class="control-label" style="font-weight:bold"></label>
                    <select asp-for="Airline"
                            class="form-control"
                            asp-items="@(new SelectList(@ViewBag.ListofAirlines,"Name","Name"))">
                        <option value=" " hidden disabled selected>Select</option>
                    </select>
                    <span asp-validation-for="Airline" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Origin" class="control-label" style="font-weight:bold"></label>
                    <select asp-for="Origin"
                            class="form-control" id="originList"
                            asp-items="@(new SelectList(@ViewBag.ListofCities,"City","City"))">
                        <option value=" " hidden disabled selected>Select</option>
                    </select>
                    <span asp-validation-for="Origin" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Destination" class="control-label" style="font-weight:bold"></label>
                    <select asp-for="Destination"
                            class="form-control" id="destinationList"
                            asp-items="@(new SelectList(@ViewBag.ListofCities,"City","City"))">
                        <option value=" " hidden disabled selected>Select</option>
                    </select>
                    <span asp-validation-for="Destination" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cost" class="control-label" style="font-weight:bold">Budget</label>
                    <input asp-for="Cost" type="number" placeholder="$0.00" min="0" step="0.01" class="form-control" />
                    <span asp-validation-for="Cost" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DepartDate" class="control-label" style="font-weight:bold">Departure Date</label>
                    <input asp-for="DepartDate" class="form-control" id="datePick" />
                    <span asp-validation-for="DepartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReturnDate" class="control-label" style="font-weight:bold">Return Date</label>
                    <input asp-for="ReturnDate" class="form-control" id="datePick" />
                    <span asp-validation-for="ReturnDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <a class="btn btn-warning" asp-action="Index">Back to List</a>
                    &nbsp;&nbsp;&nbsp;
                    <input type="submit" id="btnSubmit" value="Book" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#btnSubmit").click(function () {
                var origin = $("#originList");
                var destination = $("#destinationList")
                if (origin.val() == destination.val()) {
                    alert("Origin and Destination must be different.");
                    return false;
                }
                return true;
            });
        });
    </script>

</body>
</html>

@section Scripts {

    @{
        <partial name="_ValidationScriptsPartial" />
    }
}