@model IEnumerable<MVCRecap.Models.TicketModel>

@{
    ViewData["Title"] = "Tickets";
    <link rel="stylesheet" href="~/css/TrexStyle.css" />
}
<!DOCTYPE html>
<html>
<body class="bluesky">
    <h1 style="margin-bottom: 50px">Active Tickets</h1>

    <p>
        <a class="btn btn-success" asp-action="Create">Book Flight</a>
    </p>

    <table class="table">
        <thead style="background-color: deepskyblue; border-collapse: collapse; border-bottom: 1px solid black">
            <tr>
                <th style="border-top: 1px solid deepskyblue; border-bottom: 2px solid black">
                    <b>PRD</b>
                </th>
                <th style="border-top: 1px solid deepskyblue; border-bottom: 2px solid black">
                    <b>Client</b>
                </th>
                <th style="border-top: 1px solid deepskyblue; border-bottom: 2px solid black">
                    <b> @Html.DisplayNameFor(model => model.Airline)</b>
                </th>
                <th style="border-top: 1px solid deepskyblue; border-bottom: 2px solid black">
                    <b> @Html.DisplayNameFor(model => model.Origin)</b>
                </th>
                <th style="border-top: 1px solid deepskyblue; border-bottom: 2px solid black">
                    <b> @Html.DisplayNameFor(model => model.Destination)</b>
                </th>
                <th style="border-top: 1px solid deepskyblue; border-bottom: 2px solid black">
                    <b>Budget</b>
                </th>
                <th style="border-top: 1px solid deepskyblue; border-bottom: 2px solid black">
                    <b>Departure</b>
                </th>
                <th style="border-top: 1px solid deepskyblue; border-bottom: 2px solid black">
                    <b>Return</b>
                </th>
                <th style="border-top: 1px solid deepskyblue; border-bottom: 2px solid black"></th>
            </tr>
        </thead>
        <tbody style="background-color: lightskyblue">
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <b>@Html.DisplayFor(modelItem => item.TicketID)</b>
                </td>
                <td>
                    <b>@Html.DisplayFor(modelItem => item.ClientName)</b>
                </td>
                <td>
                    <b>@Html.DisplayFor(modelItem => item.Airline)</b>
                </td>
                <td>
                    <b> @Html.DisplayFor(modelItem => item.Origin)</b>
                </td>
                <td>
                    <b> @Html.DisplayFor(modelItem => item.Destination)</b>
                </td>
                <td>
                    <b> @Html.DisplayFor(modelItem => item.Cost)</b>
                </td>
                <td>
                    <b> @Html.DisplayFor(modelItem => item.DepartDate)</b>
                </td>
                <td>
                    <b> @Html.DisplayFor(modelItem => item.ReturnDate)</b>
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.TicketID">Modify</a> &nbsp;&nbsp;
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.TicketID">Cancel</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</body>
</html>
